.form-control {
	width: 100%;
	display: flex;
	border: 1px solid var(--color-secondary);
	border-radius: 9px;
	overflow: hidden;
}
.form-control > input {
	width: 100%;
	z-index: 0;
	outline: none;
	padding: 1.5rem 2.5rem;
	border: none;
	color: #999;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.7rem;
	background-color: transparent;
}
.form-send-text {
	align-self: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	padding-left: 3rem;
	padding-right: 2rem;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M13 19c0-.34.04-.67.09-1H4V8l8 5l8-5v5.09c.72.12 1.39.37 2 .72V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h9.09c-.05-.33-.09-.66-.09-1m7-13l-8 5l-8-5h16m0 9v3h3v2h-3v3h-2v-3h-3v-2h3v-3h2Z"%2F%3E%3C%2Fsvg%3E');
	fill: red;
	background-repeat: no-repeat;
	background-position: -1% 50%;
	background-size: 2.4rem 2.4rem;
	cursor: pointer;
}
