.form-control {
	width: 100%;
	display: flex;
	border: 1px solid var(--color-secondary);
	border-radius: 9px;
	overflow: hidden;
}
.form-control > input {
	width: 100%;
	z-index: 0;
	outline: none;
	padding: 1.5rem 2.5rem;
	border: none;
	color: #999;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.7rem;
	background-color: transparent;
}
.form-send-text {
	align-self: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	padding-left: 3rem;
	padding-right: 2rem;
	fill: red;
	cursor: pointer;
	border-left: 2px solid var(--color-secondary);
}
