.container {
	max-width: 134rem;
	padding: 0 2rem;
	margin: 0 auto;
}
.row,
.row-reverse {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.row-reverse {
	flex-direction: row-reverse;
}
.nth-child:nth-of-type(odd) .row {
	flex-direction: row-reverse;
}
.gap05 {
	gap: 0.5rem;
}
.gap1 {
	gap: 1rem;
}
.gap2 {
	gap: 2rem;
}
.gap3 {
	gap: 3rem;
}
.gap4 {
	gap: 4rem;
}
.gap5 {
	gap: 5rem;
}
.gap5-v {
	row-gap: 5rem;
}
/* 1 */
.col1of2 {
	flex: 1 0 calc((100% - 2rem) / 2);
}
.col1of3 {
	flex: 1 0 calc((100% - 8rem) / 3);
}
.col1of4 {
	flex: 1 0 calc((100% - 9rem) / 4);
}
.col1of5 {
	flex: 1 0 calc(((100% - 12rem) - 20px) / 5);
}
/* 2 */
.col2of3 {
	flex: 1 0 calc(2 * ((100% - 8rem) / 3) + 4rem);
}
/* query */
@media (max-width: 1300px) {
	.col1of5 {
		flex: 1 0 calc(((100% - 6rem) - 12px) / 3);
	}
}
@media (max-width: 800px) {
	.col2of3 {
		flex: 1 0 100%;
	}
	.col1of3 {
		flex: 1 0 100%;
	}
	.col1of4 {
		flex: 1 0 calc((100% - 6rem) / 3);
	}
}
@media (max-width: 700px) {
	.col1of2 {
		flex: 1 0 100%;
	}
	.col1of4 {
		flex: 1 0 calc((100% - 3rem) / 2);
	}
	.col1of5 {
		flex: 1 0 calc(((100% - 3rem) - 8px) / 2);
	}
}
@media (max-width: 500px) {
	.col1of4 {
		flex: 1 0 100%;
	}
	.col1of5 {
		flex: 1 0 100%;
	}
}
/* flex gap */
.flex-gap5 {
	--gap: 5rem;
}
.flex-gap15 {
	--gap: 15rem;
}
.flex-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--gap-h) var(--gap);
}
/* col */
.flex-col1of2 {
	flex: 1 0 calc((100% - var(--gap)) / 2);
}
.flex-col1of3 {
	flex: 1 0 calc((100% - (2 * var(--gap))) / 3);
}
.flex-col2of3 {
	flex: 1 0 calc(2 * ((100% - (2 * var(--gap))) / 3) + var(--gap));
}
/* nth-child */
.nth-child:nth-child(even) {
	background-color: var(--color-primary);
}
/* query */
@media (max-width: 800px) {
	.flex-col1of2 {
		flex: 1 0 100%;
	}
	.flex-col1of3 {
		flex: 1 0 100%;
	}
	.flex-col2of3 {
		flex: 1 0 100%;
	}
}
@media (max-width: 500px) {
}
