@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.7;
}
.heading-huge,
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
}
.heading-huge {
	font-size: 5rem;
	font-weight: 400;
}
.heading-primary {
	font-size: 3.5rem;
	font-weight: 400;
}
.heading-secondary {
	font-size: 3rem;
	line-height: 1.2;
	letter-spacing: 1px;
}
.heading-tertiary {
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: 1px;
	font-weight: 900;
}
.heading-quaternary {
}
.paragraph-primary {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
	letter-spacing: 1px;
	font-size: 1.7rem;
	font-weight: 400;
	text-align: justify;
}
.list-primary > li {
	position: relative;
	padding-left: 4.5rem;
	font-size: 1.7rem;
	font-weight: 400;
	text-align: justify;
}
.list-primary > li:not(:last-child) {
	margin-bottom: 1rem;
}
.list-primary > li::before {
	position: absolute;
	content: "\2702";
	top: -1.1rem;
	left: -.3rem;
	padding-right: 1.5rem;
	font-size: 3rem;
	color: var(--color-tertiary);
}
