:root {
	--color-primary: #f5f3f0;
	--color-secondary: #4c4c4c;
	--color-secondary-light: #d3d3d3;
	--color-tertiary: #dfba70;
	--color-gray: #333;
	--color-white: #fff;
	--color-black: #000;
	--color-red: tomato;

	--gap: 2rem;
	--gap-h: 5rem;
}
