.container {
	max-width: 134rem;
	padding: 0 2rem;
	margin: 0 auto;
}
.row {
	display: flex;
	justify-content: center;
}
.gap1 {
	gap: 1rem;
}
.gap2 {
	gap: 2rem;
}
.gap4 {
	gap: 4rem;
}
.col1of2 {
	flex: 1 0 calc((100% - 2rem) / 2);
}
.col1of3 {
	flex: 1 0 calc((100% - 8rem) / 3);
}
.col2of3 {
	flex: 1 0 calc(2 * ((100% - 8rem) / 3) + 4rem);
}
