[data-breadcrumbs] {
	display: flex;
	height: 4rem;
	gap: 2.3rem;
}
[data-breadcrumbs] > * {
	cursor: pointer;
	position: relative;
	/* z-index: 1; */
	width: max-content;
	height: 100%;
	padding-left: 3rem;
	padding-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	text-transform: capitalize;
	background-color: var(--color-primary);
}
[data-breadcrumbs] > *::before {
	position: absolute;
	content: "";
	z-index: 0;
	top: 0;
	right: -1.9rem;
	border-top: 2rem solid #fff;
	border-left: 2rem solid var(--color-primary);
	border-bottom: 2rem solid #fff;
}
[data-breadcrumbs] > *::after {
	position: absolute;
	content: "";
	z-index: 1;
	top: 0;
	left: -1.9rem;
	border-top: 2rem solid var(--color-primary);
	border-left: 2rem solid transparent;
	border-bottom: 2rem solid var(--color-primary);
}
