.btn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.7rem;
	overflow: hidden;
	font-weight: 600;
	letter-spacing: 1px;

	display: flex;
	align-items: center;
	gap: 1rem;
}
.btn::after {
	flex-grow: 1;
	content: "";
	width: 30%;
	height: 2px;
}
.btn-primary {
	color: var(--color-white);
}
.btn-primary::after {
	background-color: var(--color-white);
}
.btn-secondary {
	color: var(--color-secondary);
}
.btn-secondary::after {
	background-color: var(--color-secondary);
}
