#slider-product {
}
#slider-product .slider-slide {
	transition: transform 0.5s ease-out;
}
#slider-product .slider-dots img {
	height: calc((100% - (4 * var(--gap))) / 5);
}
@media (max-width: 800px) {
	#slider-product .flex-col1of2.w10 {
		max-width: unset;
	}
	#slider-product .w10 .flex-v {
		flex-direction: row;
	}
	#slider-product .slider-dots .img {
		max-width: unset;
		width: calc((100% - (4 * var(--gap))) / 5);
	}
}
