.hero-slider, .hero-slider .slider-slides {
    min-height: 200px;
}
.hero-slider .slider-slides {
    overflow: hidden;
}
.hero-slider .slider-slide {
    top: 60px;
}
.hero-slider-item {
    transition: transform 1s;
  
}
@media (max-width: 800px) {
    .hero-slider, .hero-slider .slider-slides {
        min-height: 650px;
    }
}