.slider-slide img {
	transition: clip-path 1s ease-out;
}
/* img */
.slider-slide.prev-slide img {
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	transition: clip-path 0.5s 0.5s;
}
.slider-slide.current-slide img {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	transition: clip-path 0.5s 0s;
}
.slider-slide.next-slide img {
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	transition: clip-path 0.5s 0.5s;
}

/* text */
.slider-slide h3 {
	transition: 0.2s 0s ease-out;
}
.slider-slide p {
	transition: 0.2s 0.3s ease-out;
}
.slider-slide h3,
.slider-slide p {
	opacity: 0;
	transition-property: transform, opacity;
}
.slider-slide h3 {
	transform: translate(0, -100%);
}
.slider-slide p {
	transform: translate(0, -50%);
}
.slider-slide.current-slide h3 {
	transition: 0.3s 1s ease-out;
}
.slider-slide.current-slide p {
	transition: 0.5s 0.6s ease-out;
}

.slider-slide.current-slide h3,
.slider-slide.current-slide p {
	opacity: 1;
	transform: translate(0, 0);
	transition-property: transform, opacity;
}
