.table {	
	overflow-x: auto;
	width: 100%;
}
.table-body {
	width: 100%;
	min-width: 500px;
	display: flex;
	font-size: 1.7rem;
}
.table .tr-header,
.table .tr-body {
	display: flex;
	flex-direction: column;
}
.th:nth-child(odd) {
	background-color: #f9f9f9;
}
.td:nth-child(odd) {
	background-color: #f9f9f9;
}
.tr-header {
	width: 50%;
	text-align: left;
}
.tr-body {
	width: 50%;
	text-align: left;
}
.th,
.td {
	padding: 1rem 3rem;
}
.th {
	font-weight: 700;
	text-transform: uppercase;
}
@media (max-width: 450px) {
	
}
